* {
  padding: 0;
  margin: 0;
}

/* INI BAGIAN SECTION FONT FACE */

@font-face {
  font-family: "Poppins-regular";
  src: url("../fonts/Poppins-Regular.ttf");
}

/* INI AKHIR BAGIAN SECTION FONT FACE */

html {
  font-size: 10px;
  font-family: "Poppins-regular";
}

body {
  background-color: #fff;
}

nav {
  font-size: 1.6rem;
  padding: 1.5em 5em;
  display: flex;
  border-bottom: 1px solid #e6e9ec;
}

nav ul {
  list-style: none;
  display: flex;
  margin-left: auto;
}

nav ul li {
  padding-left: 1.5em;
}

nav ul li a {
  color: #191a1e;
}

nav a {
  text-decoration: none;
}

header {
  padding: 0 15%;
}

.nama-brand {
  color: #191a1e;
}

/* SECTION HERO */

.section-hero {
  display: flex;
  margin-top: 7em;
}

.hero-kiri {
  flex-grow: 1;
  width: 50%;
  padding-top: 10em;
}

.hero-kiri .hero-title {
  font-size: 5rem;
  color: #292c30;
}

.hero-kiri .hero-text {
  font-size: 1.6rem;
}

.hero-kiri .btn-hero {
  padding: 1em 2em;
  background-color: #4798de;
  border: none;
  border-radius: 4em;
  color: #fff;
  margin-top: 1.5em;
}

.hero-kiri .btn-hero:hover {
  transition: 0.4s ease;
  padding-right: 5em;
}

.hero-kanan {
  width: 50%;
  flex-grow: 1;
}

.hero-kanan img {
  padding-left: 10em;
  padding-top: 4em;
}

/* END SECTION HERO */

/* SECTION ABOUT */

/* END SECTION ABOUT */

/* RESPONSIVE SECTION */

@media screen and (max-width: 970px) {
  nav ul {
    display: none;
  }

  body {
    overflow-x: hidden;
  }

  .hero-kanan {
    display: none;
  }

  .section-hero {
    margin-top: 0;
  }

  .hero-kiri .hero-title {
    font-size: 3rem;
  }

  nav {
    padding: 1.5em 15%;
    background-color: #4798de;
  }

  .nama-brand {
    color: #ffffff;
  }
}

/* END RESPONSIVE SECTION */
